/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #ffffff;
  border-style: solid;
  border-width: 6px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

//background(90, 70, 170);
